@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
.calc_container a {
    text-decoration: none;
}
.calc_container .btn.selected {
    background-color: rgb(0, 204, 255);
    color: #fff;
}
.calc_container .rank__type__widget__icon.selected {
    color: rgb(0, 204, 255);
}
.calc_container .calculator__row--visible {
    position: static !important;
    opacity: 1 !important;
    visibility: visible !important;
}

/* BUTTONS */
.calc_container .btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    border-radius: 8px;
    line-height: 1.375rem;
    border: none;
}
.calc_container .btn--block {
    display: block;
    margin: 0 auto;
}
.calc_container .btn--white {
    color: #000;
    background-color: #fff;
    font-weight: 700;
    text-align: center;
}
.calc_container .btn--white:hover {
    background-color: #5eb8ff;
}
.calc_container .btn--white--selected {
    color: #fff;
}
.calc_container {
    width: 100%;
    padding: 2rem;
    display: flex;
}
.checkout {
    position: sticky;
    top: 300px;
    width: 30%;
    background: #fff;
    border-radius: 12px;
    margin-left: 2rem;
    margin-top: 2rem;
    align-self: flex-start;
    padding: 1rem;
    min-height: 300px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ccc;
}
.calc_container .calculator {
    width: 65%;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background: #282828;

}
.calc_container .calculator__row {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 1s;
}
.calc_container .calculator__header {
    margin-bottom: 3rem;
}
.calc_container .calculator__title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
}
.calc_container .calculator__content {
    display: flex;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

/* rank type */
.calc_container .rank__type__widget {
    text-align: center;
    flex: 1;
    padding: 20px;
}
.calc_container .rank__type__widget__icon {
    padding: 20px;
    font-size: 4rem;
}

/* ladder */
.calc_container .ladder__widget {
    flex: 1;
    text-align: center;
    padding: 20px;
}

/* boost type */
.calc_container .boost__widget {
    flex: 1;
    text-align: center;
    padding: 20px;
}

/* choose rank */
.calc_container .rank__widget {
    flex: 1;
    text-align: center;
}
.calc_container .rank__widget__img {
    display: block;
    margin: 0 auto 2rem auto;
    max-width: 200px;
    min-height: 243px;
}
.calc_container .rank__widget__select {
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    color: #081117;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    width: 200px;
    margin: 0 auto 1rem auto;
}
.calc_container .rank__widget__select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}


.calc_container .option:hover {
    cursor: pointer;
}
.calc_container .rank__type__widget__icon.option:hover {
    color: rgb(0, 204, 255);
}

.winsFormContainer {
    margin-top: 2rem;
    text-align: center;
}
.winsForm {
    width: 100%;
    max-width: 100px;
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    color: #081117;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    margin: 0 auto;
    margin-top: 1rem;
}
.extras {
    
}
.extras__row {
    display: flex;
}
.extras__title {
    margin-left: 3rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 3rem;
    display: block;
}
.extras__label {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
}
.extras__form {
    width: 100%;
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    color: #081117;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    margin-top: 0.2rem;
}
.hidden {
    display: none;
}
.resultTitle {
    font-weight: bold;
}

#option1, #option2, #option3, #current__rank, #desired__rank, #netWins, #price {
    display: inline;
}
.discount {
    margin-top: 1rem;
    color: #009cbf;
    display: none;
}

.extraResults {
    margin: 1rem 0;
    color: #009cbf;
    font-size: 0.75rem;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin: 0 auto 1rem auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.server__selection {
    display: inline-block;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    color: #081117;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
}