.footer_widget_contact_list_element
            {
             border: 2px solid white;
             font-size: 0.82rem;
            }

            .btn--primary:hover {
              color: black;
              border-color: black;
            }
            .ssl-secure-section {
        	width: 100%;
        	padding-bottom: 20px;
        	padding-top: 10px;
        }

            #paytr-logos {
            	margin-right: 50px;
            }
            body{background-color:#f8f8f8}
          .guarantee {
          border-top-left-radius: 37px 140px;
          border-top-right-radius: 23px 130px;
          border-bottom-left-radius: 110px 19px;
          border-bottom-right-radius: 120px 24px;

          display: block;
          position: relative;
          border: solid 3px #6e7491;
          padding: 40px 60px;
          max-width: 800px;
          width: 70%;
          margin: 100px auto 0;
          font-size: 17px;
          line-height: 28px;
          transform: rotate(-1deg);
          box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
          transition: all 0.13s ease-in;
        }

        .guarantee:hover {
          transform: translateY(-10px) rotate(1deg);
          box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
        }

        .guarantee:hover .border {
          transform: translateY(4px) rotate(-5deg);
        }
        .tosContainer p{
                    font-family: Barlow,sans-serif;
                    font-size: 16px;
                    display: block;
                    box-sizing: border-box;
                    padding: 0;
                    margin: 0 0 1.25em 0;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    font-weight: 500;
                    line-height: 160%;
                    text-align: left;
                    color: #50505a;

            }
		.tosContainer h2{
			font-size: 25px;
			font-weight: 600;
			line-height: 120%;
			text-align: left;
			color: #000;
			padding: 0;
    			margin: 0;
			font-family: Barlow,sans-serif;
    			display: block;
    			margin-block-start: 0.83em;
    			margin-block-end: 0.83em;
    			margin-inline-start: 0px;
    			margin-inline-end: 0px;
			word-wrap: break-word;
           	}