@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Raleway', sans-serif;
  color: #737373;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
a:hover {
  color: rgb(255, 71, 25);
}



.wrapper {
  width: 100%;
  min-height: 700px;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
}

/* GLOBAL */
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.text__highlight {
  color: rgb(255, 71, 25);
}
.hamburger .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background: #fff;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 0.5rem 1.75rem;
  font-size: 0.875rem;
  border-radius: 40px;
  line-height: 1.375rem;
  border: none;
}
.btn--primary {
  color: #fff;
  background-color: #ff4719;
  font-weight: 900;
}
.btn--block {
  display: block;
  font-weight: 400;
  margin-bottom: 8px;
}

/* BLOCKS */

.header {
  width: 100%;
  margin-bottom: 98px;
}
.navbar {
  max-width: 1170px;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  padding: 15px 15px;
}
.hero {
  max-width: 1170px;
  width: 100%;
  padding: 15px 15px;
  margin: 0 auto;
  padding-top: 210px;
  color: #fff;
}

.section {
  width: 100%;
  padding-bottom: 84px;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #232c3b;
  color: #fff;
}


.services {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.guarantee {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 80px;
}
.feedback {
  width: 100%;
  text-align: center;
}
.about {
  justify-content: space-between;
  align-items: center;
}

/* ELEMENTS */

.header__navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0;
  transition: padding 0.25s ease-in-out, background-color 0.25s ease-in-out, box-shadow 0.25s ease;
  z-index: 2;
  background-color: #232c3b;
}
.header__hero {
  position: relative;
  z-index: 1;
}

.navbar__brand {
  color: #ff4719;
  font-size: 1.375rem;
  line-height: 30px;
  font-weight: 900;
  z-index: 3;
}

.navbar__list {
  align-items: center;
  list-style: none;
}
.navbar__list__item {
  padding: 0 15px;
  color: #fff;
}
.navbar__list__button {
  margin-left: 20px;
}
.hero__slide__text {
  margin: 20px 0;
}
.hero__slide {
  width: 48%;
}
.hero__slide__list {
  margin-bottom: 2rem;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hero__slide__list__item {
  flex-basis: 49%;
  margin-bottom: 0.5rem;
}
.hero__slide__list__item i {
  color:rgb(255, 71, 25);
  font-weight: bold;
  margin-right: 0.25rem;
}

.section__wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.section__header {
  justify-content: space-between;
  margin-bottom: 84px;
  border-bottom: 1px solid #e9e9e9;
  align-items: center;
}
.section__header__title, .section__header__sub {
  flex-basis: 50%;

}
.section__header__title {

}
.section__header__sub {
  border-left: 1px solid #e9e9e9;
  padding: 40px 2.5rem;
  margin: 0;
}
.section__content {

}
.footer__wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 15px 40px 15px;
}
.footer__mascot {
  position: absolute;
  bottom: -64px;
  left: 0;
}
.footer__widgets {
  padding-left: 180px;
}
.footer__widget {
  flex-basis: 29%;
  padding: 0 12px;
}
.footer__widget__header {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 0.5rem;
}
.footer__widget__header:after {
  content: "";
  background: rgb(255, 71, 25);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 20%;
}
.footer__about__text {
  font-size: 0.875rem;
  line-height: 22px;
}
.footer__about__info {
  margin-top: 1rem;
  border: 3px solid rgb(255, 71, 25);
  padding: 0.75rem;
  font-size: 0.75rem;
}
.footer__widget__list {
  list-style: none;
}
.footer__widget__list__item {
  margin-bottom: 8px;
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px dotted #fff;
  font-size: 0.875rem;
  color: #fff;
  text-decoration: none;
  line-height: 22px;
}
.footer__widget__list__item:hover {
  border-color:rgb(255, 71, 25);
}

.footer__widget__list__item > i {
  font-weight: bold;
  font-size: 0.6rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  padding-bottom: 2px;
}

.footer__copyright {
  width: 100%;
  background-color: #151a23;
  text-align: center;
  padding: 24px 0;
}

.services__widget {
  flex-basis: 31%;
}
.services__widget__image {
  max-width: 100px;
}
.services__widget__text {
  margin-left: 2rem;
}

.guarantee__text {
  font-size: 1.225rem;
  margin-bottom: 2rem;
}

.feedback__list {
  list-style: none;
  margin-bottom: 1.5rem;
}
.feedback__list__item {
  margin: 0 10px;
  flex: 1;
}
.feedback__list__item > img {
  width: 100%;
}

.feedback__box {
  width: 100%;
  padding: 2rem;
  background: #f8f8f8;
  margin-bottom: 60px;
  text-align: left;
  color: rgb(255, 71, 25);
  position: relative;
}
.feedback__box__arrow {
  position: absolute;
    top: -15px;
    width: 0;
    height: 0;
    left: 20%;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: #ffff #fff #f8f8f8 #fff;
    -webkit-transition: left 0.25s ease-in-out;
    transition: left 0.25s ease-in-out;
}
.globalfeatures {
  justify-content: space-between;
}
.globalfeatures__widget {
  flex-basis: 31%;
  text-align: center;
}
.about__text {
  flex-basis: 48%;
}
.about__image {
  flex-basis: 48%;
}

.aboutstats {
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  color: #fff;
}
.aboutstats__widget__text {
  padding: 0 30px;
}
.aboutstats__counter {
  line-height: 40px;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}


/* MODIFIERS */
.header--hero {
  min-height: 700px;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}
.header__navbar--transparent {
  background: transparent;
}
.header__navbar--fixed {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 0 2px rgb(0 0 0 / 14%), 0 2px 4px rgb(0 0 0 / 28%);
}
.navbar__list__item--active {
  color: rgb(255, 71, 25);
  font-weight: 900;
}
.header__navbar--fixed .navbar__list__item:not(.navbar__list__item--active) {
  color: rgb(59, 47, 55);
}
.header__navbar--fixed .navbar__list__item:not(.navbar__list__item--active):hover {
  color:rgb(255, 71, 25);
}
.hamburger--fixed {

}
.section--alt {
  background-color: #f8f8f8;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
.section--dark {
  background-color: #232c3b;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 0;
}
.section__header__title--single {
  text-align: center;
  padding-bottom: 4px;
}
.footer__widget--about {
  flex-basis: 42%;
}
.hamburger--fixed .hamburger-inner, .hamburger--fixed .hamburger-inner::before, .hamburger--fixed .hamburger-inner::after {
  background: rgb(59, 47, 55);
}

/* typography */
h1 {
  font-size: 2.375rem;
  font-weight: 900;
  line-height: 3rem;
  color:rgb(255, 71, 25);
}
h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #232c3b;
}
h3 {
  font-size: 1.625rem;
  font-weight: 900;
}
h4 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0.8rem;
}
p {
  line-height: 1.5rem;
}

.splide--ttb>.splide__arrows .splide__arrow, .splide--ttb>.splide__track>.splide__arrows .splide__arrow {
  display: none;
}
.splide__pagination__page {
  border: 2px solid rgb(255, 71, 25);
  background: transparent;
  width: 12px;
  height: 12px;
}
.splide__pagination__page.is-active {
  background-color: rgb(255, 71, 25);
}


.features {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

h1 > span, h2 > span, h3 > span, h4 > span {
  color:rgb(255, 71, 25);
}

.subscribe {
  position: relative;
  top: -100px;
  max-width: 1170px;
  width: 100%;
  padding: 15px 15px;
  background-image: url(https://lolboost.novundev.com/img/subscribe-img/bg.png);
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}
.subscribe h2 {
  flex-basis: 30%;
}
.subscribe .form-email {
  position: relative;
  flex-basis: 48%;
}
.subscribe .form-email .enteremail {
  padding: 5px 0;
  background-color: transparent;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #737373;
  border-radius: 0;
  box-shadow: none;
  font-size: 18px;
  line-height: 26px;
  outline: 0;
  width: 100%;

}
.highlight {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ff4719;
  -webkit-transition: width 0.55s ease-in-out, background-color 0.25s ease-in-out;
  transition: width 0.55s ease-in-out, background-color 0.25s ease-in-out;
}
.subscribe .form-email input:focus + .highlight {
  width: 100%;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}
main {
  margin-bottom: 200px;
}
.hamburger {
  display: none;
}
.splide--ttb>.splide__pagination {
  bottom: 70%;
}
@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 120px;
  }
  .hero__slide {
    width: 60%;
  }
  .navbar {
    position: relative;
  }
  .navbar__list {
    flex-direction: column;
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    padding: 10px 0 20px 18px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }
  .navbar__visible {
    visibility: visible;
    opacity: 1;
  }
  .navbar__list:not(.navbar__list--fixed) {
    background-color: #232c3b;
  }
  .navbar__list li {
    width: 100%;
  }
  .navbar__list__item {
    display: block;
    padding: 10px 0;
  }
  .navbar__list__item:not(.navbar__list__item--active) {
    color: #fff;
  }
  .navbar__list__button {
    margin-left: 0;
  }
  .navbar__list--fixed {
    border-top: 1px solid black;
    background-color: #fff;
    box-shadow: 0 0 2px rgb(0 0 0 / 14%), 0 2px 4px rgb(0 0 0 / 28%);
  }


  .hamburger {
    display: block;
  }
  .services {
    flex-direction: column;
  }
  .services__widget {
    align-items: center;
    margin-bottom: 2rem;
  }
  .subscribe {
    flex-direction: column;
    padding: 4rem 0;
  }
  .subscribe h2 {
    text-align: center;
  }
  .subscribe .form-email > * {
    margin: 2rem 0;
  }
  .footer__mascot {
    display: none;
  }
  .footer__widgets {
    padding-left: 0;
  }
  .about {
    flex-direction: column;
  }
  .about__text {
    margin-bottom: 4rem;
  }
  .aboutstats {
    flex-direction: column;
  }
  .aboutstats__widget {
    margin: 1.5rem 0;
  }

}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .hero__slide {
    width: 86%;
    margin: 0 auto;
  }
  .hero__slide .hero__slide__list__item {
    font-size: 0.75rem;
  }
  .section__header {
    flex-direction: column;
  }
  .section__header__title {
    padding: 2rem 0;
  }
  .section__header__sub {
    border-left: none;
    border-top: 1px solid #e9e9e9;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }
  .globalfeatures {
    flex-direction: column;
  }
  .globalfeatures__widget {
    margin-bottom: 4rem;
  }
  .services__widget:last-of-type, .globalfeatures__widget:last-of-type {
    margin-bottom: 0;
  }
  .footer__widgets {
    flex-direction: column;
  }
  .footer__widgets div {
    margin: 1rem 0;
  }
  .guarantee {
    padding: 0 30px;
  }
}
