    #headerNav .nav > li > a:hover,
    #headerNav .nav > li.active > a,
    #headerNav .nav > .dropdown.open > a,
    .pricing--details a,
    .panel-body a,
    .header--logo span,
    .banner--content h2,
    .banner--content ul li:before,
    .section--title h2 span,
    .service--content h3 span,
    .pricing--tag p strong,
    .pricing--details h2 strong,
    .feature--content h2 span,
    .footer--about a:hover,
    .footer--about a:focus,
    .footer--links ul li a:hover,
    .footer--links ul li a:focus,
    .footer--contact-social .nav > li > a:hover,
    .footer--contact-social .nav > li > a:focus,
    .footer--copyright a,
    .page-header--breadcrumb .breadcrumb li a:hover,
    .page-header--breadcrumb .breadcrumb > .active,
    .team--item:hover .team--name a,
    .team--social-links ul li a:hover,
    .team--social-links ul li a:focus,
    .blog--post-title h2 a:hover,
    .blog--post-title h2 a:focus,
    .blog--post-meta a:hover,
    .blog--post-meta a:focus,
    .blog--recent-posts-widget ul li h4 a:hover,
    .blog--recent-posts-widget ul li h4 a:focus,
    .blog--links-widget ul li a:hover,
    .blog--links-widget ul li a:focus,
    .blog--tags-widget ul li a:hover,
    .blog--tags-widget ul li a:focus,
    .blog--post-footer a:hover,
    .blog--post-footer a:focus,
    .blog--post-comment-meta a:hover,
    .blog--post-comment-meta a:focus,
    .contact--address h2 span,
    #headerNav .nav > li.current-menu-ancestor > a,
    .blog--widget a:hover,
    .comment-respond .title #cancel-comment-reply-link:hover,
    .footer--widget ul li a:hover,
    .footer--widget ul li a:focus,
    .footer--widget .textwidget a:hover,
    .footer--widget .textwidget a:focus,
	body.page-template-template-whmcs .popover a,
	body.page-template-template-whmcs .footer--copyright a,
	#bridge #main-body a,
	#bridge #main-body a:link,
	#bridge #main-body a:visited,
	#bridge #main-body a:hover,
	#bridge #main-body a:active,
	#bridge .navbar-main .navbar-nav > li > a:hover,
	#bridge .navbar-main .navbar-nav > li > a:focus,
	#bridge .navbar-main .navbar-nav > li.open > a,
	.wc-layered-nav-rating .star-rating span:before,
	.blog--widget ul.product_list_widget li .star-rating span:before,
	.woocommerce .star-rating span:before,
	.woocommerce div.product p.price,
	.woocommerce div.product span.price,
	.product_meta a:hover,
	.products a .woocommerce-loop-product__title:hover,
	.woo--products .woocommerce-loop-product__title:hover,
	.woocommerce-info:before,
	.woocommerce-message:before,
	#aboutDesc .woocommerce-info a:hover,
	#aboutDesc .woocomerce-form a:hover,
	.woocommerce p.stars a,
	.woo-breadcrumbs .breadcrumb li
    {
        color: #ff4019;
    }
    

    #clients {
        background-color: ;
    }
    #clients .section--title p {
        color: ;
    }
    #clients.bg--overlay:before {
        background-color: ;
        opacity: ;
    }
    #clients .section--title,
    #clients .section--title p {
        border-color: ;
    }
    
    

    .btn--primary,
    #headerNav .nav > .dropdown > .dropdown-menu > li > a:hover,
    #headerNav .nav > .dropdown > .dropdown-menu > li > a:focus,
    #headerNav .nav > .dropdown > .dropdown-menu > li.active > a,
    #header .navbar-toggle .icon-bar,
    #banner .bx-pager-link.active,
    .domain-search--form .input--text input.valid + .highlight,
    .domain-search--form .input--radio .radio-inline input:checked + span:before,
    .subscribe--form .input--text input.valid + .highlight .highlight,
    .footer--widget h2:before,
    .faq--content .accordion .panel-heading a,
    .domain-ext--content:before,
    .domain-ext--name:before,
    .faq--categories h3:before,
    .faq--categories ul li a:hover,
    .faq--categories ul li.active a,
    .login--form .form-group input.valid + .highlight,
    .pricing-2--header:before,
    .f0f--search-bar input.valid + .highlight,
    .blog--post-pagination .pagination > li > a:hover,
    .blog--post-pagination .pagination > li > a:focus,
    .blog--post-pagination .pagination > li.active > a,
    .blog--post-pagination .pagination > li.active > span,
    .blog--widget-title:before,
    .blog--search-widget .input--text input.valid + .highlight,
    .blog--twitter-widget .blog--widget-title,
    .blog--post-comments-title h3:before,
    .blog--post-comment-form .title h3:before,
    .blog--post-comment-form-group input.valid + .highlight,
    .blog--post-comment-form-group textarea.valid + .highlight,
    .contact--address h2:before,
    .contact--form input.valid + .highlight,
    .contact--form textarea.valid + .highlight,
    .blog--post-content .page-links a:hover,
    .blog--post-content .page-links span + span,
    .blog--post-content .post-password-form input[type='submit'],
    .subscribe--form .input--text .highlight,
    .contact--form .highlight,
    .blog--search-widget .input--text .highlight,
    .comment-respond .input--text .highlight,
    .f0f--search-bar .highlight,
    .login--form .form-group .highlight,
    .domain-search--form .input--text .highlight,
	.login-popover input.btn-primary,
	.login-popover input.btn-primary:active,
	#bridge #home-banner input.btn-warning,
	#bridge #main-body  a.label-warning,
	#bridge #main-body  a.label-warning[href]:focus,
	#bridge #main-body  a.label-warning[href]:hover,
	#bridge .navbar-main .nav > .dropdown > .dropdown-menu > li > a:hover,
	#bridge .navbar-main .nav > .dropdown > .dropdown-menu > li > a:focus,
	#bridge a.list-group-item.active,
	#bridge a.list-group-item.active:focus,
	#bridge a.list-group-item.active:hover,
	#bridge a.list-group-item.active,
	#bridge a.list-group-item.active:focus,
	#bridge a.list-group-item.active:hover,
	#bridge .main-content .btn-primary,
	#bridge .main-content .btn-primary:hover,
	#bridge .main-content .btn-primary:focus,
	#bridge .main-content .btn-success,
	#bridge .main-content .btn-success:hover,
	#bridge .main-content .btn-success:focus,
	#bridge .main-content .btn-info,
	#bridge .main-content .btn-info:hover,
	#bridge .main-content .btn-info:focus,
	#bridge #openTicketSubmit,
	#bridge #openTicketSubmit:focus,
	#bridge #openTicketSubmit:hover,
	#bridge #main-body .header-lined-order h1,
	#bridge #order-boxes button[type='submit'],
	#bridge #btnCheckAvailability,
	#bridge #btnCheckAvailability:hover,
	#bridge #btnCheckAvailability:focus,
	#bridge .dataTables_wrapper .dataTables_info,
	#bridge .status-customer-reply,
	#bridge #main-body .pagination > .active > a,
	#bridge .client-home-panels input[type='submit'].btn.btn-success,
    .blog--post.sticky::before,
	.woocommerce-mini-cart__buttons a.button,
	.woocommerce-mini-cart__buttons a.button:hover,
	.woocommerce-product-search input[type='submit'],
	.blog--content .page-title:before,
	.product a.add_to_cart_button,
	.product a.add_to_cart_button:hover,
	.woocommerce nav.woocommerce-pagination ul > li > a:hover,
	.woocommerce nav.woocommerce-pagination ul > li > span.current,
	.price_slider .ui-slider-range,
	.price_slider_amount button.button,
	.price_slider_amount button.button:hover,
	.price_slider .ui-slider-handle.ui-state-active,
	.woocommerce div.product button.single_add_to_cart_button,
	.woocommerce div.product button.single_add_to_cart_button:hover,
	.woocommerce-Reviews-title:before,
	.woocommerce #respond input#submit,
	.woocommerce #respond input#submit:hover,
	.woocommerce .cart .button, .woocommerce .cart input.button,
	.woocommerce .cart input.button:disabled:hover,
	#aboutDesc a.checkout-button,
	.woocommerce-checkout .woocommerce input.button,
	.woocommerce-checkout .woocommerce input.button:hover,
	.woocommerce-checkout .select2-results__option[aria-selected='true'],
	.woocommerce-checkout .select2-results__option--highlighted[aria-selected],
	.woocommerce-info a.button,
	.woocommerce-message a.button,
	.woocommerce-info a.button:hover,
	.woocommerce-message a.button:hover,
	.woocommerce span.onsale {
        background-color: #ff4019;
    }
    

    #banner .bx-pager-link,
    .domain-search--form .input--radio .radio-inline input:checked + span:before,
    .footer--links ul li a:hover,
    .footer--links ul li a:focus,
    .domain-ext--content,
    .counter-2--num,
    .pricing-2--header,
    .blog--post-pagination .pagination > li > a:hover,
    .blog--post-pagination .pagination > li > a:focus,
    .blog--post-pagination .pagination > li.active > a,
    .blog--post-pagination .pagination > li.active > span,
    .blog--links-widget ul li a:hover,
    .blog--links-widget ul li a:focus,
    .blog--post-content .page-links a:hover,
    .blog--post-content .page-links span + span,
    .blog--post-content .post-password-form label input:focus,
    .blog--widget select:focus,
    .blog--widget ul li a:hover,
    .comment-respond .title #cancel-comment-reply-link:hover,
    .footer--widget ul li a:hover,
    .footer--widget ul li a:focus,
	.login-popover input.btn-primary,
	.login-popover input.btn-primary:active,
	#bridge a.list-group-item.active,
	#bridge a.list-group-item.active:focus,
	#bridge a.list-group-item.active:hover,
	#bridge a.list-group-item.active,
	#bridge a.list-group-item.active:focus,
	#bridge a.list-group-item.active:hover,
	#bridge .main-content .btn-primary,
	#bridge .main-content .btn-primary:hover,
	#bridge .main-content .btn-primary:focus,
	#bridge .main-content .btn-success,
	#bridge .main-content .btn-success:hover,
	#bridge .main-content .btn-success:focus,
	#bridge .main-content .btn-info,
	#bridge .main-content .btn-info:hover,
	#bridge .main-content .btn-info:focus,
	#bridge #openTicketSubmit,
	#bridge #openTicketSubmit:focus,
	#bridge #openTicketSubmit:hover,
	#bridge #order-boxes button[type="submit"],
	#bridge #btnCheckAvailability,
	#bridge #btnCheckAvailability:hover,
	#bridge #btnCheckAvailability:focus,
	#bridge #main-body .pagination > .active > a,
	#bridge .client-home-panels input[type="submit"].btn.btn-success,
    .blog--post.sticky,
	.woocommerce-product-search .search-field:focus,
	.woocommerce nav.woocommerce-pagination ul > li > a:hover,
	.woocommerce nav.woocommerce-pagination ul > li > span.current,
	#aboutDesc .woocommerce-info a:hover,
	#aboutDesc .woocomerce-form a:hover {
        border-color: #ff4019;
    }
	
	#bridge #main-body .header-lined-order h1:after,
	.woocommerce-info,
	.woocommerce-message {
        border-top-color: #ff4019;
	}
    

    .preloader .slice {
        border-left-color: #ff4019;
    }
    

    #banner,
    #pageHeader.pagesetting {
        background-color: ;
    }
    #pageHeader.pagesetting.bg--overlay:before,
    .bg--overlay:before {
            background-color: #232c3b;
            opacity: 0.8;
    }      
    #pageHeader.global .page-header--breadcrumb,
    #pageHeader.global .section--title {
        border-color: #e9e9e9;
    }      
    #pageHeader.pagesetting .page-header--breadcrumb,
    #pageHeader.pagesetting .section--title {
        border-color: #ffffff;
    }
    #pageHeader.pagesetting .page-header--breadcrumb .breadcrumb li a,
    #pageHeader.pagesetting .page-header--breadcrumb .breadcrumb li:after {
        color: #ffffff;
    }
    #banner .banner--content {
        color: #ffffff;
    }
	#banner .banner--bg-animate {
		background-size: auto;
	}
    

        #domainExt {
            background-color: ;
        }
        #domainExt .domain-ext--content {
            color: ;
        }
        #domainExt .domain-ext--content:hover {
            color: ;
        }
        #domainExt.bg--overlay:before {
            background-color: ;
            opacity: ;
        }
        .domain-ext--content {
            background-color: ;
        }
    

        #priceDetails2.no--bd {
            background-color: ;
        }
        #priceDetails2.no--bd .section--title p {
            color: ;
        }
        #priceDetails2.no--bd.bg--overlay:before {
            background-color: ;
            opacity: ;
        }
        #priceDetails2.no--bd .section--title p,
        #priceDetails2.no--bd .section--title {
            border-color: ;
        }
    

        #faq {
            background-color: ;
        }
        #faq .section--title p {
            color: ;
        }
        #faq.bg--overlay:before {
                background-color: ;
                opacity: ;
        }
        #faq .section--title,
        #faq .section--title p {
            border-color: ;
        }
    

        #priceDetails2 {
            background-color: ;
        }
        #priceDetails2 .section--title p {
            color: ;
        }
        #priceDetails2.bg--overlay:before {
                background-color: ;
                opacity: ;
        }
        #priceDetails2 .section--title,
        #priceDetails2 .section--title p {
            border-color: ;
        }
    

        #priceDetails {
            background-color: ;
        }
        #priceDetails .section--title p {
            color: ;
        }
        #priceDetails.bg--overlay:before {
                background-color: ;
                opacity: ;
        }
        #priceDetails .section--title,
        #priceDetails .section--title p {
            border-color: ;
        }
    

        #pricing {
           background-color: ;
        }
        #pricing .section--title p {
            color: ;
        }
        #pricing.bg--overlay:before {
            background-color: ;
            opacity: ;
        }  
        #pricing .section--title,
        #pricing .section--title p {
            border-color: ;
        }
        #pricing .pricing-font-icon .fa {
            background-color: ;
            color: ;
        }
        .pricing--item {
           background-color: ;
           color: ;
           border-color: ;
        }
        .pricing--item.raised:before {
            background-color: ;
        }
        .pricing--item.raised {
            color: ;
        }
        
    

    #domainSearch {
        background-color: ;
    }
    #domainSearch:after {
        background-image: url();
    }
    #domainSearch .section--title h2, 
    .domain-search--form, 
    .domain-search--form .input--text input {
        color: ;
    }
    .domain-search--form .input--radio .radio-inline span::before, 
    .domain-search--form .input--text input {
        border-color: ;
    }
    #domainSearch.bg--whitesmoke {
      border-color: ;
    }
    #domainSearch.bg--overlay:before {
        background-color: ;
        opacity: ;
    }
    

    #feedback {
        background-color: ;
    }
    #feedback .section--title p {
        color: ;
        border-color: ;
    }
    #feedback .section--title {
        border-color: ;
    }
    #feedback.bg--whitesmoke {
        border-color: ;
    }
    .feedback--triangle { 
        border-bottom-color: ; 
    } 
    .feedback--tabs .tab-content {
        background-color: ;
        color: ;
    }
    #feedback.bg--overlay:before {
            background-color: ;
            opacity: ;
    } 
  
    

    
    #wooproducts {
        background-color: ;
        color: ;
    }
    #wooproducts.bg--overlay:before {
            background-color: ;
            opacity: ;
    }
    #wooproducts .section--title,
    #wooproducts .section--title p {
        border-color: ;
    }

    
    

    
    #services {
        background-color: ;
        color: ;
    }
    #services.bg--overlay:before {
            background-color: ;
            opacity: ;
    }
    #services .section--title,
    #services .section--title p {
        border-color: ;
    }
    .service-font-icon .fa {
        background-color: ;
        color: ;
    }
    
    

    #features {
        background-color: ;
        color: ;
    }
    #features.bg--overlay:before {
            background-color: ;
            opacity: ;
    }
    #features .section--title,
    #features .section--title p {
            border-color: ;
    }
    #features .feature-font-icon .fa {
        background-color: ;
        color: ;
    }
    

    #team {
        background-color: ;
        color: ;
    }
    .team--name a,
    .team--role,
    .team--social-links ul li a {
        color: ;
    }
    #team.bg--whitesmoke{
      border-color: ;
    }
    #team.bg--overlay:before {
        background-color: ;
        opacity: ;
    }
    #team .section--title p,
    #team .section--title {
        border-color: ;
    }
    

    #counter {
        background-color: ;
    }
    #counter.bg--overlay:before {
        background-color: ;
        opacity: ;
    }
    #counter .counter--content {
        color: ;
    }
    #counter .counter-font-icon .fa{
        color: ;
        background-color: ;
    }
    

        #pricing2 {
            background-color: ;
        }
        #pricing2.bg--overlay:before {
            background-color: ;
            opacity: ;
        }
        #pricing2 .pricing-2--item {
            color: ;
        }
        #pricing2 .pricing-2--header:hover {
            color: ;
        }
    

    #counter2 {
        background-color: ;
    }
    .counter-2--content {
        color: ;
    }
    .counter-2--num {
        border-color: ;
    }
    #counter2.bg--overlay:before {
        background-color: ;
        opacity: ;
    }
    

        #footer {
          border-bottom-color: #151a23;
        }
		
		@media screen and (max-width: 991px) {
			.footer--copyright {
				background-color: #151a23;
			}
		}
    

        #flatcontone {
           background-color: ;
           color: ;
        }
        #flatcontone.bg--overlay:before {
            background-color: ;
            opacity: ;
        }  
        
    

        #flatconttwo {
           background-color: ;
           color: ;
        }
        #flatconttwo.bg--overlay:before {
            background-color: ;
            opacity: ;
        }  
        
    

        #headerNav .nav > li > a{
            color:#ffffff;
        }
        #headerNav .nav > li > a:hover{
            color:#ff4719;
        }
        #headerNav .nav > li.active > a{
            color:#ff4719;
        }
    


        #header.sticky .nav > li > a {
            color:#232c3b;
        }
        
        #header.sticky .nav > li > a:hover {
            color:#ff4719;
        }
        #header.sticky .nav > li.active > a,
        #header.sticky .nav > li.current-menu-ancestor > a {
            color:#ff4719;
        }